<div class="itinerary-container">
  <div class="flex align-items-center justify-content-start font-bold mb-5">
    <h1>Dashboard</h1>
  </div>
  <div class="formgroup-inline">
    <div class="field">
      <label class="label mr-5">Select date:</label>
      <mat-form-field appearance="outline" class="mr-5">
        <mat-label>Ex. 04/08/2024</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button color="primary" style="height: 3.4rem; width: 8rem;">Analyze</button>
    </div>
  </div>

  <div class="grid mt-5">
    <div class="col-6">
      <div class="text-center pr-3 border-round-sm">
        <mat-card>
          <mat-card-title class="mx-5 my-4">Total passengers boarded in the bus units</mat-card-title>
          <mat-card-content>
            <app-label-bar-chart
              [series]="barChartSeriesPassengerBus"
              [categories]="barChartSeriesUnitBus"
            ></app-label-bar-chart>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="col-6">
      <div class="text-center pr-3 border-round-sm">
        <mat-card>
          <mat-card-title class="mx-5 my-4">Bus Unit Capacity</mat-card-title>
          <mat-card-content>
            <app-capacity-unit-buses-dashboard></app-capacity-unit-buses-dashboard>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="grid mt-5">
    <div class="col-12">
      <div class="text-center pr-3 border-round-sm">
        <mat-card>
          <mat-card-title class="mx-5 my-4">Total number of passengers loaded onto the bus units</mat-card-title>
          <mat-card-content>
            <app-bus-capacity-pie-chart></app-bus-capacity-pie-chart>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
