.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px; /* Ajusta este valor según tus necesidades */
  margin: 0 auto;
  padding: 20px;
}

.left-column {
  flex: 0 0 45%; /* Ajusta este valor para cambiar el ancho de la columna izquierda */
}

.right-column {
  flex: 0 0 50%; /* Ajusta este valor para cambiar el ancho de la columna derecha */
  display: flex;
  flex-direction: column;
}

app-payment-detail {
  margin-bottom: 20px; /* Espacio entre payment-detail y stripe-payment */
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left-column,
  .right-column {
    flex: 0 0 100%;
  }

  .left-column {
    margin-bottom: 20px;
  }
}


.mat-toolbar {
  background: var(--color-primary);
  color: white;
  height: 5rem;
}