@switch (stepperOrientation | async) {
  @case ('horizontal') {
    <div>Make your screen smaller to see a vertical stepper</div>
  }
  @case ('vertical') {
    <div>Make your screen larger to see a horizontal stepper</div>
  }
}

<div class="itinerary-container">
  <div class="flex flex-column">
    <div class="flex align-items-center justify-content-start font-bold border-round ">
      <button mat-icon-button color="primary" (click)="goBack()">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <h1 class="font-bold ml-2 mb-0">My Itinerary</h1>
    </div>
  </div>
  <mat-stepper
    labelPosition="bottom"
    class="itinerary-register-stepper"
    [orientation]="(stepperOrientation | async)!">

    <mat-step [stepControl]="firstFormGroup" label="General information">

      <div class="flex flex-column general-data mt-5">
        <div class="flex justify-content-center m-5">
          <span class="title font-bold"> Add General Information of the itinerary</span>
        </div>

        <div class="flex ml-8 mr-8 mb-5 align-items-center">
          <form [formGroup]="firstFormGroup" class="flex flex-column">


            <div class="grid align-items-center">
              <div class="col-3">
                <p>Start of circulation time</p>
              </div>
              <div class="col-9">
                <mat-form-field>
                  <mat-label>Circulation start time</mat-label>
                  <input type="time" matInput placeholder="ej. Transvasa SAC" formControlName="startTime" required>
                </mat-form-field>
              </div>
            </div>

            <div class="grid align-items-center">
              <div class="col-3">
                <p>End of circulation time</p>
              </div>
              <div class="col-9">
                <mat-form-field>
                  <mat-label>End of circulation time</mat-label>
                  <input type="time" matInput placeholder="ej. Transvasa SAC" formControlName="endTime" required>
                </mat-form-field>
              </div>
            </div>


            <div class="flex justify-content-end">
              <button mat-raised-button color="primary" matStepperNext class="">Next</button>
            </div>
          </form>

        </div>
      </div>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Step 2</ng-template>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Add Stop</mat-label>
            <input matInput placeholder="Address" formControlName="secondCtrl">
          </mat-form-field>

          <button mat-raised-button color="primary" (click)="addStop()">Add</button>
        </div>
        <div class="mb-5">
          <div class="mapbox">
            <app-map></app-map>
          </div>
        </div>
        <div>
          <mat-table [dataSource]="dataSource" matSort aria-label="Elements">
            <ng-container matColumnDef="Alias">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Alias</mat-header-cell>
              <mat-cell *matCellDef="let stop">{{ stop.name }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Latitud">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Latitud</mat-header-cell>
              <mat-cell *matCellDef="let stop">{{ stop.latitude }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Longitud">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Longitud</mat-header-cell>
              <mat-cell *matCellDef="let stop">{{ stop.longitude }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Acciones">
              <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
              <mat-cell *matCellDef="let stop; let i = index;">
                <button mat-icon-button (click)="removeStop(i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
        <app-map #mapComponent></app-map>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup" label="Confirmation">
      <div class="grid">
        <div class="col">
          <div >

          </div>
        </div>
        <div class="col">

          <form [formGroup]="thirdFormGroup" class="flex flex-column">
            <mat-card>
              <div class="mr-4 ml-4 mt-2">
                <mat-card-title class="payment-method">Show the preview result</mat-card-title>

                <mat-card-content>

                </mat-card-content>

              </div>
            </mat-card>

            <div class="flex mt-5 justify-content-between" >
              <button mat-button matStepperPrevious class="back-button">Back</button>
              <button mat-raised-button color="primary" matStepperNext>Create itinerary</button>
            </div>
          </form>
        </div>
      </div>

    </mat-step>



  </mat-stepper>

</div>
